/* ==========================
  Base Element Styles
=========================== */

* { box-sizing: border-box; }

body {
	font: 1em/1.5 'Open Sans', sans-serif;
	color: #fff;
	background: #000;
	margin: 0;
}

a { text-decoration: none; }

h1,
h3 {
	text-transform: uppercase;
}

h1 {
  text-shadow: 0 1px 0 #ccc,
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
}

h3 {
	font-size: 1.3em;
	line-height: 1.25em;
	margin-top: .85em;
	margin-bottom: .5em;
}

p {
	font-size: .875em;
	line-height: 1.4;
	margin: 0 0 1.5em;
}



/* ===========================
  Base Layout Styles
=========================== */

/* ---- Layout Containers ---- */

.container,
.content {
	margin: auto;
}

.container {
	width: 94.02985075%;
	max-width: 1260px;
	padding: 0 2.25em 4em;
	background: #000;
}

.main-header {
	text-align: center;
	padding: 2.8em 0 3.8em;
}

.cube-container {
	max-width: 200px;
	text-align: center;
	margin: 0 auto 4.5em;
}

/* ---- Page Elements ---- */

.name {
	font-size: 1.65em;
	font-weight: 800;
	margin: 0 0 3.5em;
	line-height: 1;
}

.name:hover {
	transform: scale(1.5);
	text-shadow: 20px 20px 10px rgba(0,0,0,.5);
	transition: .8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

img { transition: transform .5s cubic-bezier(0.68, -0.55, 0.265, 1.55); }

.logo {
	width: 45px;
	margin-bottom: .4em;
	cursor: pointer;
}

.logo:hover { transform: rotate(-360deg) scale(1.7); }

/* ---- Float clearfix ---- */

.clearfix::after {
	content: " ";
	display: table;
	clear: both;
}



/* =================================
  Photo 3D Transforms & Transitions
==================================== */

.cube-container { perspective: 800px; }

.cube-1 { box-shadow: 0px 18px 140px 60px rgba(255,13,13,.7); }

.cube-1:hover { box-shadow: 0px 18px 140px 60px rgba(255,13,13,1); }

.cube-2 { box-shadow: 0 18px 140px 60px rgba(5,214,45,.7); }

.cube-2:hover { box-shadow: 0 18px 140px 60px rgba(5,214,45,1); }

.cube-3 { box-shadow: 0 18px 140px 60px rgba(48,93,255,.7); }

.cube-3:hover { box-shadow: 0 18px 140px 60px rgba(48,93,255,1); }

.photo-cube {
	transform-style: preserve-3d;
	transition: transform 2s ease-in-out;
	width: 220px;
	height: 220px;
}

.photo-cube:hover { transform: rotateX(360deg) rotateY(-270deg); }

.front,
.back,
.left,
.right,
.top,
.bottom {
	 width: 100%;
	 height: 100%;
	 display: block;
	 position: absolute;
}

.front { transform: translate3d(0,0,110px); }

.back {
  transform: translate3d(0,0,-110px) rotate3d(0,1,0, 270deg);
  transform-origin: center left;
}

.left {
  transform: rotate3d(0,1,0, -270deg) translate3d(110px,0,0);
  transform-origin: top right;
}

.right { transform: translate3d(0,0,-110px) rotate3d(0,1,0, 180deg); }

.top {
	transform: rotate3d(1,0,0, -270deg) translate3d(0,-110px,0);
	transform-origin: top center;
}

.bottom {
	transform: rotate3d(1,0,0, 270deg) translate3d(0,110px,0);
	transform-origin: bottom center;
}



/* =================================
  Media Queries
==================================== */

@media (min-width: 769px) {
	.cube-container {
		float: left;
		margin-left: 16.6%;
	}
}

@media (min-width: 1025px) {
	.cube-container:first-child {
		margin-left: 0;
	}
	.cube-container:last-child{
		float: right;
	}
	.content {
		max-width: 900px;
		margin: auto;
	}
}
